.jumbotron {
    text-align: center;
    margin-top: 22vh;
}

.welcome-header {
    font-size: 6rem;
}

.red-hard {
    color: rgb(159, 45, 45);
    font-size: 120%;

}

.spacer {

        display: grid;
    grid-template-rows: 20vw;

}

#Life {
color: rgb(254, 105, 105);
}

#Sync {
color: #73af85;
}

#register-button {
width: 70%;
height: 5rem;
font-size: 220%;
font-family: "K2D ExtraBold", Verdana;
border-radius: 40px;
}

.nav-tabs {
  display: flex;
  align-items: center;      
  background-color: #79a687;
  border-bottom: none;
  padding: 0 10px;
  height: 60px;             
}

.nav-item,
.home-color {
  display: flex;
  align-items: center;      
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;      
  padding: 0 10px;
  line-height: 1;           
  color: white;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  display: block;
}

.dropdown-toggle::after {
  vertical-align: middle;   
}




