.jumbotron {
    text-align: center;
    margin-top: 22vh;
}

.welcome-header {
    font-size: 6rem;
}

.red-hard {
    color: rgb(159, 45, 45);
    font-size: 120%;

}

.spacer {

        display: grid;
    grid-template-rows: 20vw;

}

#Life {
color: rgb(254, 105, 105);
}

#Sync {
color: #73af85;
}

#register-button {
width: 70%;
height: 5rem;
font-size: 220%;
font-family: "K2D ExtraBold", Verdana;
border-radius: 40px;
}

.nav-tabs {
  display: flex;
  align-items: center;      
  background-color: #79a687;
  border-bottom: none;
  padding: 0 10px;
  height: 60px;             
}

.nav-item,
.home-color {
  display: flex;
  align-items: center;      
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;      
  padding: 0 10px;
  line-height: 1;           
  color: white;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  display: block;
}

.dropdown-toggle::after {
  vertical-align: middle;   
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}







