body {
  background-color: #edeef2;
}

.list-section {
  margin: 1rem;
}

.task-head {
  display: flex;
  align-items: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 10rem;
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #ffefc1;
  position: relative;
}

.task-head h3 {
  margin: 0;
  color: #000000;
}

.task-head input {
  margin: 0.5rem;
  margin-left: 0;
}

.task-content p {
  margin: 0;
}

.taskDue {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  right: 7rem;
  top: 2rem;
  border: 4% solid black;
  background-color: white;
  border-radius: 20px;
  width: 8rem;
}