body {
  background-color: #bbffd2;
}

.list-section {
  margin: 1rem;
}

.task-head {
  display: flex;
  align-items: center;
}

.task-container {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #ffefc1;
}

.task-head h3 {
  margin: 0;
  color: #000000;
}

.task-head input {
  margin: 0.5rem;
  margin-left: 0;
}

.task-content p {
  margin: 0;
}
