body {
  background-color: #bbffd2;
}

nav {
  background-color: rgba(61, 61, 61, 0.1);
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.add {
  background-color: red;
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.task-list-container {
  display: none;
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 0 auto;
  width: 315px;
  height: 150px;
  border-radius: 5%;
  background-color: #2ab7ca;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.add-task,
.add-list {
  display: flex;
  gap: 1rem;
}

.add-list {
  margin-top: 1rem;
}

.add-task h3,
.add-list h3 {
  color: #fed766;
  margin-bottom: 0;
}

.add-task p,
.add-list p {
  color: #ffffff;
  margin-bottom: 0;
}

.image-box img {
  width: 50px;
  height: 50px;
}

.task-page,
.list-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.task-page a,
.list-page a {
  font-size: 2rem;
  color: black;
}
