.reminder-main {
    display: grid;
    grid-template-columns:  1fr 1fr 20%;
    grid-template-rows: 6rem 6rem 6rem;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.reminder-deadline {
    font-family: "K2D ExtraBold";
    grid-column: 2/3;
    text-align: center;
    font-size: 2rem;
    line-height: 90%;
    align-content: center;
    border: 4px solid black;
    background-color:white;
    border-radius: 20px;
    width: 8rem;
    justify-self: center;
}

.reminder-example {
    grid-column: 1/2;
    border: 5px solid #b3ac98; 
    background-color:#FFEFC1;
    border-radius: 100px;
    margin-left: 1rem;
    width: clamp(20rem, 50vw, 50vw);
}

.r-e1 {
    grid-column: 1/2;
    grid-row: 1/2;
}