@font-face {
  font-family: "K2D Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Italic"), url("./fonts/K2D-Italic.woff") format("woff");
}

@font-face {
  font-family: "K2D Bold";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Bold"), url("./fonts/K2D-Bold.woff") format("woff");
}

@font-face {
  font-family: "K2D Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Bold Italic"),
    url("./fonts/K2D-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D Thin";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Thin"), url("./fonts/K2D-Thin.woff") format("woff");
}

@font-face {
  font-family: "K2D ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("K2D ExtraLight"),
    url("./fonts/K2D-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "K2D Light";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Light"), url("./fonts/K2D-Light.woff") format("woff");
}

@font-face {
  font-family: "K2D";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Medium"), url("./fonts/K2D-Medium.woff") format("woff");
}

@font-face {
  font-family: "K2D SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("K2D SemiBold"), url("./fonts/K2D-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "K2D ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("K2D ExtraBold Regular"),
    url("./fonts/K2D-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "K2D Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Thin Italic"),
    url("./fonts/K2D-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D ExtraLight Italic"),
    url("./fonts/K2D-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Light Italic"),
    url("./fonts/K2D-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Medium Italic"),
    url("./fonts/K2D-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D SemiBold Italic"),
    url("./fonts/K2D-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "K2D ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("K2D ExtraBold Italic"),
    url("./fonts/K2D-ExtraBoldItalic.woff") format("woff");
}

body {
  background-color: #cdffda;
  font-family: K2D, Verdana;
}

div .form-group {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 35%;
}

label {
  font-size: 120%;
  justify-self: start;
  font-weight: 600;
}

form {
  margin-top: 5vh;
}

.header {
  text-align: center;
  font-weight: 800;
  color: #35543e;
}

.header-signup {
  margin-top: 0;
}

#haveAccLogin {
  color: #184e58;
}

#dontHaveAccSignUp {
  color: #184e58;
}

.signup .btn {
  font-size: 120%;
}

button[onclick="history.back()"] {
  background-color: #73af85;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  margin: 1rem 0 0 0.5rem;
}

button[onclick="history.back()"]:hover {
  background-color: #4d7d5b;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.page-header {
  font-family: "K2D ExtraBold", Verdana;
  font-size: clamp(4vw, calc(7rem + 1%), 40vw);
}

.navbar-color {
  background-color: #73af85;
}

.nav {
  background-color: #73af85;
}

footer {
  text-align: center;
}

.btn {
  background-color: #73af85;
  border: 0px;
}

.btn:hover {
  background-color: #4d7d5b;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #73af85;
  border-radius: 0;
  border: 0px;
  color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  background-color: #4d7d5b;
  border-radius: 12px;
  border: 0px;
  color: white;
}

.nav-tabs .nav-link {
  color: white;
}

.nav-tabs .nav-link:hover {
  border: 0px;
  isolation: none;
  background-color: #4d7d5b;
  border-radius: 12px;
  border: 0px;
  color: white;
}

.dropdown-menu:hover {
  background-color: #4d7d5b;
  border: 0px;
  color: white;
}

.dropdown-menu {
  background-color: #4d7d5b;
  border-radius: 12px;
  border: 0px;
  color: white;
}

.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  background-color: #4d7d5b;
}

.nav-tabs .nav-link:focus {
  border: 0px;
}
