.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-item {
  display: flex;
  flex-direction: column;
  color: #333;
  border: 5px solid #b3ac98;
  background-color: #ffefc1;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 20rem;
  gap: 0.5rem;

  opacity: 0;
  animation: slideIn 0.6s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-item:nth-child(1) {
  animation-delay: 0.2s;
}
.task-item:nth-child(2) {
  animation-delay: 0.3s;
}
.task-item:nth-child(3) {
  animation-delay: 0.4s;
}
.task-item:nth-child(4) {
  animation-delay: 0.5s;
}
.task-item:nth-child(5) {
  animation-delay: 0.6s;
}

.task-item h3 {
  margin: 0;
  padding-left: 0.2rem;
}

.task-item p {
  margin: 0;
  padding: 0;
}

.task-item .due-dates,
.task-item .description {
  display: block;
  background-color: white;
  width: fit-content;
  border: 2px solid #969593;
  border-radius: 10px;
  padding: 0.2rem;
}

main .back-button {
  margin: 1rem 0;
}
